<ng-container
  *ngIf="{ books: books$ | async, isLoading: isLoading$ | async } as data"
>
  <div class="header">
    <input #inputElement />
    <button (click)="onCreateBook(inputElement.value)">Create book</button>
  </div>
  <div class="container">
    <table>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
      <tbody>
        <tr *ngFor="let book of data.books">
          <td>
            {{ book.id }}
          </td>
          <td>
            <ng-container *ngIf="bookUpdating !== book.id; else update">
              {{ book.name }}
            </ng-container>
          </td>
          <td>
            <button (click)="onDeleteBook(book)">Delete</button>
            <button (click)="updateBook(book)">
              {{ bookUpdating === book.id ? "Save" : "Update" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<router-outlet></router-outlet>

<ng-template #update>
  <input type="text" [(ngModel)]="updatedBookName" />
</ng-template>
